<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" th:fragment="header">
        <a  class="navbar-brand"  href="#">众筹平台 - 控制面板</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <!--<a class="btn btn-default btn-danger" href="#">帮助 <span class="sr-only">(current)</span></a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            </form>
            <div class="nav-item dropdown">
                <a th:if="${session.user != null}" th:text="${session.user.username}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    张三
                </a>
                <a th:if="${session.user == null}" class="nav-link" th:href="@{/login}">
                    游客
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">个人设置</a>
                    <a class="dropdown-item" href="#">消息</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/logout}">退出系统</a>
                </div>
            </div>
            <a class="btn btn-default btn-danger" href="#">帮助 <span class="sr-only">(current)</span></a>
        </div>
    </nav>
    <div th:fragment="footer" th:align="center" class="fixed-bottom">
        &copy;&nbsp;<span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
        Frontend <span th:text="${@environment.getProperty('app.version')}"></span>
    </div>
    <nav th:fragment="sidebar-tree" class="col-md-2 d-none d-md-block bg-light sidebar">
        <style>
            .tree li {
                list-style-type: none;
                cursor:pointer;
            }
            .tree-closed {
                height : 40px;
            }
            .tree-expanded {
                height : auto;
            }
        </style>
        <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
        <div class="tree">
            <ul style="padding-left:0px;" class="list-group">
                <li class="list-group-item tree-closed" >
                    <a th:href="@{/user/index}"><ion-icon name="speedometer"></ion-icon> 控制面板</a>
                </li>
                <li class="list-group-item tree-closed">
                    <span><ion-icon name="list"></ion-icon> 权限管理 <span class="badge" style="float:right">3</span></span>
                    <ul style="margin-top:10px;display:none;">
                        <li style="height:30px;">
                            <a th:href="@{/user/list}"><ion-icon name="man"></ion-icon> 用户维护</a>
                        </li>
                        <li style="height:30px;">
                            <a th:href="@{/role/list}"><ion-icon name="ribbon"></ion-icon> 角色维护</a>
                        </li>
                        <li style="height:30px;">
                            <a th:href="@{/permision/list}"><ion-icon name="lock"></ion-icon> 许可维护</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item tree-closed">
                    <span><ion-icon name="checkmark-circle"></ion-icon> 业务审核 <span class="badge" style="float:right">3</span></span>
                    <ul style="margin-top:10px;display:none;">
                        <li style="height:30px;">
                            <a href="auth_cert.html"><ion-icon name="checkmark-circle-outline"></ion-icon> 实名认证审核</a>
                        </li>
                        <li style="height:30px;">
                            <a href="auth_adv.html"><ion-icon name="checkmark-circle-outline"></ion-icon> 广告审核</a>
                        </li>
                        <li style="height:30px;">
                            <a href="auth_project.html"><ion-icon name="checkmark-circle-outline"></ion-icon> 项目审核</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item tree-closed">
                    <span><ion-icon name="apps"></ion-icon> 业务管理 <span class="badge" style="float:right">7</span></span>
                    <ul style="margin-top:10px;display:none;">
                        <li style="height:30px;">
                            <a href="cert.html"><ion-icon name="images"></ion-icon> 资质维护</a>
                        </li>
                        <li style="height:30px;">
                            <a href="type.html"><ion-icon name="keypad"></ion-icon> 分类管理</a>
                        </li>
                        <li style="height:30px;">
                            <a href="process.html"><ion-icon name="shuffle"></ion-icon> 流程管理</a>
                        </li>
                        <li style="height:30px;">
                            <a href="advertisement.html"><ion-icon name="desktop"></ion-icon> 广告管理</a>
                        </li>
                        <li style="height:30px;">
                            <a href="message.html"><ion-icon name="chatbubbles"></ion-icon> 消息模板</a>
                        </li>
                        <li style="height:30px;">
                            <a href="project_type.html"><ion-icon name="folder-open"></ion-icon> 项目分类</a>
                        </li>
                        <li style="height:30px;">
                            <a href="tag.html"><ion-icon name="star"></ion-icon> 项目标签</a>
                        </li>
                    </ul>
                </li>
                <li class="list-group-item tree-closed" >
                    <a href="param.html"><ion-icon name="stats"></ion-icon> 参数管理</a>
                </li>
            </ul>
        </div>
        <script type="text/javascript">
            $(function () {
                $(".list-group-item").click(function(){
                    if ( $(this).find("ul") ) {
                        $(this).toggleClass("tree-closed");
                        if ( $(this).hasClass("tree-closed") ) {
                            $("ul", this).hide("fast");
                        } else {
                            $("ul", this).show("fast");
                        }
                    }
                });
            });
        </script>
    </nav>
</body>
</html>