<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>许可维护</title>

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/resources/css/main.css}">
        <link href="https://cdn.bootcss.com/zTree.v3/3.5.40/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>-->
        <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
        <script>
            jQuery.browser={};(function(){jQuery.browser.msie=false; jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
        </script>
        <!--<script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.all.js"></script>-->
        <script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.core.js"></script>
        <script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.excheck.js"></script>
        <script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.exedit.js"></script>
        <script src="https://cdn.bootcss.com/zTree.v3/3.5.40/js/jquery.ztree.exhide.js"></script>
        <style>
            .tree li {
                list-style-type: none;
                cursor:pointer;
            }
            table tbody tr:nth-child(odd){background:#F4F4F4;}
            table tbody td:nth-child(even){color:#C00;}
        </style>
        <script type="text/javascript">
            $(function () {
                let loadingIndex;
                $.ajax({
                    type: 'GET',
                    url: 'loadData',
                    beforeSend: function () {
                        loadingIndex = layer.msg('处理中', {icon: 16})
                    },
                    success: function (result) {
                        layer.close(loadingIndex);
                        if (result.success) {
                            let data = result.data;
                            console.log(data)
                            $.fn.zTree.init($("#permissionTree"), {}, data);
                        } else {
                            layer.open({content: '数据操作失败 | ' + result.error, icon: 5, shift: 6}, function () {

                            })
                        }
                    },
                    error: function () {
                        layer.close(loadingIndex);
                        layer.open({content: '请求失败', icon: 5, shift: 6}, function () {

                        })
                    }
                })
                // let setting = {
                //     async: true,
                //     url: 'loadData',
                //     autoParam: ['id']
                // }
                // let zNodes =[
                //     { name:"系统权限菜单", open:true,
                //         children: [
                //             { name: "控制面板", isParent: false},
                //             { name: "消息管理", isParent: false},
                //             { name: "权限管理", open: true,
                //                 children: [
                //                     { name: "用户管理"},
                //                     { name: "角色管理"},
                //                     { name: "许可管理"},
                //                 ]
                //             },
                //             { name: "业务管理", open: true,
                //                 children: [
                //                     {name: "项目分类"},
                //                     {name: "项目标签"},
                //                     {name: "资质管理"},
                //                     {name: "资质维护"},
                //                     {name: "流程管理"},
                //                     {name: "广告管理"},
                //                     {name: "消息模板"},
                //                 ]
                //             }
                //         ]
                //     }
                // ];
                // $.fn.zTree.init($("#permissionTree"), setting);
            })
        </script>
    </head>

    <body>

    <div th:replace="fragments/layout :: header"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/layout :: sidebar-tree"></div>
            <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                    </div>
                    <div class="panel-body">
                        <ul id="permissionTree" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="panelModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="panelModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <!--<div class="card-header">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><ion-icon name="help"></ion-icon></div></div>-->
                        <div class="card-body">
                            <form role="form" id="panel_form">
                                <input type="hidden" name="id" id="id">
                                <div class="form-group">
                                    <label for="name">角色名称</label>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="请输入角色名称">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="reset" type="button" class="btn btn-danger"><ion-icon name="refresh"></ion-icon> 重置</button>
                    <button id="commit" type="button" class="btn btn-primary"><ion-icon name="add"></ion-icon> 新增</button>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>