<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/resources/css/main.css}">

        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!--<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>-->
        <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
        <style>
            .tree li {
                list-style-type: none;
                cursor:pointer;
            }
            table tbody tr:nth-child(odd){background:#F4F4F4;}
            table tbody td:nth-child(even){color:#C00;}
        </style>
        <script type="text/javascript">
            var total = 0, size = 2
            $("tbody .btn-success").click(function(){
                window.location.href = "assignRole.html";
            });
            $("tbody .btn-primary").click(function(){
                window.location.href = "edit.html";
            });
            function changerPage(index) {
                let loadingIndex;
                $.ajax({
                    type: 'POST',
                    url: 'pageQuery',
                    data: {
                        'index': index,
                        'pageSize': size
                    },
                    beforeSend: function() {
                        loadingIndex = layer.msg('处理中', {icon: 16})
                    },
                    success: function(result) {
                        layer.close(loadingIndex)
                        if(result.success) {
                            // location.href = '/frontend/user/index'
                            let page = result.data
                            let data = page.data
                            // console.log(page)
                            total = page.total
                            size = page.pageSize
                            let content = ''
                            data.forEach((el, i) => {
                                // console.log(el, i)
                                content += '<tr>'
                                content += '    <th scope="row">' + (i + 1) + '</th>'
                                content += '        <td><input type="checkbox"></td>'
                                content += '        <td>' + el.username + '</td>'
                                content += '        <td>' + el.username + '</td>'
                                content += '        <td>' + el.email + '</td>'
                                content += '        <td>'
                                content += '        <a role="button" class="btn btn-sm"><ion-icon name="checkmark" name="assign" data-target="' + el.id + '"></ion-icon></a>'
                                content += '    <a role="button" class="btn btn-sm" name="update" data-target="' + el.id + '"><ion-icon name="create"></ion-icon></a>'
                                content += '    <a role="button" class="btn btn-sm" name="delete" data-target="' + el.id + '"><ion-icon name="close"></ion-icon></a>'
                                content += '    </td>'
                                content += '</tr>'
                            })
                            $('#table_content').html(content)
                            let page_content = ''
                            page_content += '<tr >'
                            page_content += '    <td colspan="6">'
                            page_content += '        <ul class="pagination justify-content-center">'
                            if(page.index == 1) {
                                page_content += '            <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>'
                            } else {
                                page_content += '            <li class="page-item"><a class="page-link" href="#" onclick="changerPage(' + (page.index - 1) + ')">上一页</a></li>'

                            }
                            for (let i = 1, l = page.pageCount; i <= l; i++) {
                                if (i == page.index) {
                                    page_content += '            <li class="page-item active"><a class="page-link" href="#" onclick="changerPage(' + i + ')">' + i + '</a></li>'
                                } else {
                                    page_content += '            <li class="page-item"><a class="page-link" href="#" onclick="changerPage(' + i + ')">' + i + '</a></li>'
                                }
                            }
                            if(page.index == page.pageCount) {
                                page_content += '            <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>'
                            } else {
                                page_content += '            <li class="page-item"><a class="page-link" href="#" onclick="changerPage(' + (page.index + 1) + ')">下一页</a></li>'
                            }
                            page_content += '        </ul>'
                            page_content += '    </td>'
                            page_content += '</tr>'
                            $('#table_page').html(page_content)

                            $("[name='update']").each(function(){
                                $(this).on('click', function () {
                                    $('#panelModalCenter').data('type', 2)// 更新
                                    $('#panelModalCenter').data('userid', $(this).data('target'))
                                    $('#panelModalCenter').modal('show')
                                })
                            })
                        } else {
                            layer.msg('数据更新失败 | ' + result.error, {time: 2000, icon: 5, shift: 6}, function() {

                            })
                        }
                    },
                    error: function(){
                        layer.msg('请求失败', {time: 2000, icon: 5, shift: 6}, function() {

                        })
                    }
                })
            }
            $(function () {
                var title = ''
                changerPage(1)
                $('#panelModalCenter').on('show.bs.modal', function () {
                    $('#panelModalTitle').text(title);
                    if ($('#panelModalCenter').data('type') == 2) {
                        // 查询
                        console.log('查询: ', $('#panelModalCenter').data('userid'))
                    }
                })
                $('#add').on('click', function () {
                    title = '新增用户'
                    $('#panelModalCenter').data('type', 1)//新增
                    $('#commit').text('新增')
                })
                $('#commit').on('click', function () {
                    let type = $('#panelModalCenter').data('type')
                    let uri = ''
                    if (type == 1) {
                        uri = 'add'
                    } else {
                        uri = 'edit'
                    }
                    if ($('#panel_form [name=username]').val() == '') {
                        layer.msg('请输入用户名称', {time: 2000, icon: 5, shift: 6}, function () {

                        })
                        return
                    }
                    if ($('#panel_form [name=email]').val() == '') {
                        layer.msg('请输入用户邮箱', {time: 2000, icon: 5, shift: 6}, function () {

                        })
                        return
                    }

                    let data = $('#panel_form').serialize()
                    // console.log(data)
                    let loadingIndex
                    $.ajax({
                        type: 'POST',
                        url: uri,
                        data: data,
                        beforeSend: function () {
                            loadingIndex = layer.msg('处理中', {icon: 16})
                        },
                        success: function (result) {
                            layer.close(loadingIndex)
                            if (result.success) {
                                layer.msg('数据操作成功', {time: 1000, icon: 6, shift: 6}, function () {
                                    $('#panelModalCenter').modal('hide')
                                    total++

                                    console.log( (total - 1) / size + 1 )
                                    changerPage(parseInt((total - 1) / size)+ 1)
                                })
                            } else {
                                layer.msg('数据操作失败 | ' + result.error, {time: 2000, icon: 5, shift: 6}, function () {

                                })
                            }
                        },
                        error: function () {
                            layer.close(loadingIndex)
                            layer.msg('请求失败', {time: 2000, icon: 5, shift: 6}, function () {

                            })
                        }
                    })
                    $('#reset').on('click', function () {
                        $('#panel_form')[0].reset()
                    })

                })
            })
        </script>
    </head>

    <body>

    <div th:replace="fragments/layout :: header"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="fragments/layout :: sidebar-tree"></div>
            <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 数据列表</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline" role="form" style="float:left;">
                            <div class="form-group has-feedback">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">查询条件</span>
                                    </div>
                                    <input class="form-control has-success" type="text" placeholder="请输入查询条件">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">查询</button>
                                    </div>
                                </div>
                            </div>
                            <!--<button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i> 查询</button>-->
                        </form>
                        <button id="delete" type="button" class="btn btn-danger" style="float:right;margin-left:10px;"><ion-icon name="close-circle"></ion-icon> 删除</button>
                        <button id="add" type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#panelModalCenter"><ion-icon name="add-circle"></ion-icon> 新增</button>
                        <br>
                        <hr style="clear:both;">
                        <div class="table-responsive">
                            <table class="table  table-bordered">
                                <thead>
                                <tr >
                                    <th scope="col" width="30">#</th>
                                    <th scope="col" width="30"><input type="checkbox"></th>
                                    <th scope="col">账号</th>
                                    <th scope="col">名称</th>
                                    <th scope="col">邮箱地址</th>
                                    <th scope="col" width="140">操作</th>
                                </tr>
                                </thead>
                                <tbody id="table_content">
                                <!--<tr>-->
                                    <!--<th scope="row">1</th>-->
                                    <!--<td><input type="checkbox"></td>-->
                                    <!--<td>Lorem</td>-->
                                    <!--<td>ipsum</td>-->
                                    <!--<td>dolor</td>-->
                                    <!--<td>-->
                                        <!--<a role="button" class="btn btn-sm"><ion-icon name="checkmark"></ion-icon></a>-->
                                        <!--<a role="button" class="btn btn-sm"><ion-icon name="create"></ion-icon></a>-->
                                        <!--<a role="button" class="btn btn-sm"><ion-icon name="close"></ion-icon></a>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                </tbody>
                                <tfoot id="table_page">
                                    <!--<tr >-->
                                        <!--<td colspan="6">-->
                                            <!--<ul class="pagination justify-content-center">-->
                                                <!--<li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>-->
                                                <!--<li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>-->
                                                <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                                                <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                                                <!--<li class="page-item"><a class="page-link" href="#">4</a></li>-->
                                                <!--<li class="page-item"><a class="page-link" href="#">5</a></li>-->
                                                <!--<li class="page-item"><a class="page-link" href="#">下一页</a></li>-->
                                            <!--</ul>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="panelModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="panelModalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <!--<div class="card-header">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><ion-icon name="help"></ion-icon></div></div>-->
                        <div class="card-body">
                            <form role="form" id="panel_form">
                                <div class="form-group">
                                    <label for="name">用户名称</label>
                                    <input type="text" class="form-control" name="username" id="name" placeholder="请输入用户名称">
                                </div>
                                <div class="form-group">
                                    <label for="email">邮箱地址</label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="请输入邮箱地址">
                                    <p class="text-warning">请输入合法的邮箱地址, 格式为： xxxx@xxxx.com</p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="reset" type="button" class="btn btn-danger"><ion-icon name="refresh"></ion-icon> 重置</button>
                    <button id="commit" type="button" class="btn btn-primary"><ion-icon name="add"></ion-icon> 新增</button>
                </div>
            </div>
        </div>
    </div>

    </body>
</html>